{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}角色權限管理{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="page-header">
        <h1>角色權限管理</h1>
    </div>
    <div class="col-md-4">
       <form method="POST" action>
                {{form.hidden_tag()}}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">修改角色擁有的權限</legend>
                    {% if form.all_function_option.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.all_function_option.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for choice in form.all_function_option %}
                        <div class="form-check">
                            {{ choice(class="form-check-input")}}
                            {{ choice.label(class="form-check-label") }}
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
       </form>
    </div>
</div>
{% endblock %}