{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}使用者角色管理{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="page-header">
        <h1>使用者角色管理</h1>
    </div>
    <div class="col-md-4">
       <form method="POST" action>
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">選擇角色</legend>
                {% if form.all_role_option.errors %}
                <div class="invalid-feedback">
                    {% for error in form.all_role_option.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for choice in form.all_role_option %}
                    <div class="form-check">
                        {{ choice(class="form-check-input")}}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
       </form>
    </div>
</div>
{% endblock %}