{% extends "base.html" %}

{% block title %}測試首頁{% endblock %}

{% block main %}

<div class="jumbotron">
    <h1 class="display-4">內文標題</h1>
    <p class="lead">學習ING</p>
    <hr class="my-4">
    <p>第二段...吧</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col bg-light border rounded border-dark">平均等分的第 1 塊</div>
      <div class="col bg-light border rounded border-dark">平均等分的第 2 塊</div>
      <div class="col bg-light border rounded border-dark">平均等分的第 3 塊</div>
    </div>
  </div>

{% endblock %}