{% extends "base.html" %}

{% block title %}首頁{% endblock %}

{% block main %}

<div class="jumbotron">
    <h1 class="display-4">最新資訊</h1>
    <p class="lead">個人專案1.0完工拉，版本歷程請看github</p>
    <p class="lead">專案的相關說明會放在關於(未來預計)</p>
    <hr class="my-4">
    <p>目前的一些心得</p>
    <p>理論教學到處都是。應用教學很零碎，要自己去拼成成品。</p>
    <p>滿推薦用4、5年前相對完整的專案教學練功。在有方向及只有部分內容能用的情況下，只要能克服各種問題就能提升很多經驗。</p>
    <p>有足夠多的問題處理，讓你從照著做逐漸變成邊做邊查資料，再到開始看官方說明學個別用法。過程中不斷思考試錯解決進而理解吸收掌握。</p>
    <p>例如：</p>
    <p>作者跳過的內容，要想辦法自己補。</p>
    <p>各種bug修正，有時候照著做不一定對，某些用法會失效或更新成別的用法。</p>
    <p>程式沒出錯但沒效果或是效果不一樣之類的。</p>

  </div>
  <div class="container">
    <div class="row">
      <div class="col bg-light border rounded border-dark">平均等分的第 1 塊</div>
      <div class="col bg-light border rounded border-dark">平均等分的第 2 塊</div>
      <div class="col bg-light border rounded border-dark">平均等分的第 3 塊</div>
    </div>
  </div>

{% endblock %}